@{ 
    ViewData["Title"] = "Properties";
}


<article class="entry">
    <div class="entry-content">
        <!-- Hero-->
        <div class="bg-cornflower-blue">
            <div class="container">
                <div class="py-lg-8 py-md-7 py-6">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="text-center">
                                <h1 class="mb-3 text-white mt-n1">Properties</h1>
                                <div class="pt-3">
                                    <p class="px-lg-6 text-white mb-2">Aecenas metus lacus, viverra vitae urna a, facilisis faucibus leo. Sed sagittis ipsum id lacus pharetra accumsan placerat. Nunc facilisis fringilla maximus sagittis. Donec tortor sed dolor aliquam sodales id ac nisi. Cras semper lectus augue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- properties-->
        <div class="container my-lg-8 my-md-7 my-6">
            <div class="row gx-lg-5 property-block">
                <div class="col-lg-4">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf1.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">1511 Ridge Ave, Evanston</a></h5>
                        <div class="content-price">$8201,00</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths </span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf2.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">310 S Federal St, Chicago</a></h5>
                        <div class="content-price">$409,900</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf3.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">Modern villa Land , Chicago</a></h5>
                        <div class="content-price">$357,000</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
            </div>
            <div class="row gx-lg-5 property-block">
                <div class="col-lg-4">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf4.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">Royal Resort Land , Chicago</a></h5>
                        <div class="content-price">$10201,00</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths </span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf5.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">946 Stockton, San Francisco</a></h5>
                        <div class="content-price">$709,900</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-5"></div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf6.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">2405 Folsom, San Francisco</a></h5>
                        <div class="content-price">$457,000</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
            </div>
            <div class="row gx-lg-5 property-block">
                <div class="col-lg-4">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf7.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">257 N Lake Merced, Chicago</a></h5>
                        <div class="content-price">$8275,00</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths </span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf8.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">83 McAllister St, Chicago</a></h5>
                        <div class="content-price">$652,900</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf9.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">11 W House, Manhattan</a></h5>
                        <div class="content-price">$997,000</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
            </div>
            <div class="row gx-lg-5 property-block">
                <div class="col-lg-4">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf10.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">5759 Enfield Ave, Encino</a></h5>
                        <div class="content-price">$8256,00</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths </span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf11.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">18411 Hatteras, Tarzana</a></h5>
                        <div class="content-price">$409,900</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <article class="property-item">
                        <div class="content-image"><a asp-controller="Home" asp-action="Single"><img src="~/assets/images/property/pf12.jpg" alt="property"></a></div>
                        <h5 class="content-title"><a asp-controller="Home" asp-action="Single">8906 Yorktown, Los Angeles</a></h5>
                        <div class="content-price">$357,000</div><span class="content-meta"><span class="pr-3"><i class="fas fa-ruler-combined pr-3"> </i>300 sq ft</span>|     <span class="px-3"><i class="fas fa-bed pr-3"> </i>3 beds</span>|<span class="pl-3"><i class="fas fa-bath pr-3"> </i>2 baths</span></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
</article>
